<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp.assets.facturacion.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcp.assets.facturacion.Perspective"
            id="rcp.assets.facturacion.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="rcp.assets.facturacion.application"
            name="FacturaTrack">
         <property
               name="appName"
               value="FacturaTrack">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/branding/assetsTrust_16.png,icons/branding/assetsTrust_32.png,icons/branding/assetsTrust_48.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="rcp.assets.views.NavigationView2"
               minimized="false"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true">
         </view>
         <view
               id="rcp.assets.views.KeywordsView"
               minimized="false"
               ratio=".65f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcp.assets.views.NavigationView2"
            id="rcp.assets.views.NavigationView2"
            name="Menú principal"
            restorable="true">
      </view>
      <view
            class="rcp.assets.views.UsuariosView"
            id="rcp.assets.views.UsuariosView"
            name="Usuarios">
      </view>
      <view
            class="rcp.assets.views.KeywordsView"
            id="rcp.assets.views.KeywordsView"
            name="Keywords">
      </view>
      <view
            class="rcp.assets.views.TipoCargosView"
            id="rcp.assets.views.TipoCargosView"
            name="Tipos de cargos">
      </view>
      <view
            class="rcp.assets.views.ResponsablesView"
            id="rcp.assets.views.ResponsablesView"
            name="Responsables">
      </view>
      <view
            class="rcp.assets.views.DireccionesView"
            id="rcp.assets.views.DireccionesView"
            name="Direcciones">
      </view>
      <view
            class="rcp.assets.views.AtencionesView"
            id="rcp.assets.views.AtencionesView"
            name="Atenciones">
      </view>
      <view
            class="rcp.assets.views.BuscarCaso"
            id="rcp.assets.views.BuscarCaso"
            name="Buscar caso">
      </view>
      <view
            class="rcp.assets.views.ExpedientesView"
            id="rcp.assets.views.ExpedientesView"
            name="Expedientes">
      </view>
      <view
            class="rcp.assets.views.ConsultarCargosView"
            id="rcp.assets.views.ConsultarCargosView"
            name="Consultar cargos">
      </view>
      <view
            class="rcp.assets.views.ProformaView"
            id="rcp.assets.views.ProformaView"
            name="Proforma">
      </view>
      <view
            class="rcp.assets.views.seguimiento.FacturasView"
            id="rcp.assets.views.seguimiento.FacturasView"
            name="Facturas">
      </view>
      <view
            class="rcp.assets.views.seguimiento.ResponsablesSegView"
            id="rcp.assets.views.seguimiento.ResponsablesSegView"
            name="Responsables">
      </view>
      <view
            class="rcp.assets.views.historico.FacturasHistoricoView"
            id="rcp.assets.views.historico.FacturasHistoricoView"
            name="Facturas (histórico)">
      </view>
      <view
            class="rcp.assets.views.seguimiento.CasosView"
            id="rcp.assets.views.seguimiento.CasosView"
            name="Casos">
      </view>
      <view
            class="rcp.assets.views.FactEspecialView"
            id="rcp.assets.views.FactEspecialView"
            name="Facturación especial">
      </view>
      <view
            class="rcp.assets.views.NotificacionesView"
            id="rcp.assets.views.NotificacionesView"
            name="Notificaciones">
      </view>
      <view
            class="rcp.assets.views.RecargosView"
            id="rcp.assets.views.RecargosView"
            name="Recargos">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rcp.assets.editors.UsuariosEditor"
            default="false"
            id="rcp.assets.editors.UsuariosEditor"
            name="Usuario">
      </editor>
      <editor
            class="rcp.assets.editors.KeywordsEditor"
            id="rcp.assets.editors.KeywordsEditor"
            name="Keyword">
      </editor>
      <editor
            class="rcp.assets.editors.TipoCargosEditor"
            id="rcp.assets.editors.TipoCargosEditor"
            name="Tipo de cargo">
      </editor>
      <editor
            class="rcp.assets.forms.ResponsablesFormEditor"
            id="rcp.assets.forms.ResponsablesFormEditor"
            name="Responsable">
      </editor>
      <editor
            class="rcp.assets.editors.DireccionesEditor"
            id="rcp.assets.editors.DireccionesEditor"
            name="Direcciones">
      </editor>
      <editor
            class="rcp.assets.editors.AtencionesEditor"
            id="rcp.assets.editors.AtencionesEditor"
            name="Atención">
      </editor>
      <editor
            class="rcp.assets.editors.FacturarCargos"
            id="rcp.assets.editors.FacturarCargos"
            name="Facturación de cargos">
      </editor>
      <editor
            class="rcp.assets.editors.ProformasEditor"
            id="rcp.assets.editors.ProformasEditor"
            name="Proforma">
      </editor>
      <editor
            class="rcp.assets.editors.FacturarCasosEditor"
            id="rcp.assets.editors.FacturarCasosEditor"
            name="Facturar casos">
      </editor>
      <editor
            class="rcp.assets.editors.ResponsablesEditor"
            id="rcp.assets.editors.ResponsablesEditor"
            name="Responsable">
      </editor>
      <editor
            class="rcp.assets.editors.FacturarRetainersEditor"
            id="rcp.assets.editors.FacturarRetainersEditor"
            name="Facturar retainers">
      </editor>
      <editor
            class="rcp.assets.editors.FacturarAnualidadesEditor"
            id="rcp.assets.editors.FacturarAnualidadesEditor"
            name="Facturar anualidades">
      </editor>
      <editor
            class="rcp.assets.editors.ExportarPeachtreeEditor"
            id="rcp.assets.editors.ExportarPeachtreeEditor"
            name="Exportar a Peachtree">
      </editor>
      <editor
            class="rcp.assets.editors.ReportesEditor"
            id="rcp.assets.editors.ReportesEditor"
            name="Reportes">
      </editor>
      <editor
            class="rcp.assets.editors.NotificacionesEditor"
            id="rcp.assets.editors.NotificacionesEditor"
            name="Notificación">
      </editor>
      <editor
            class="rcp.assets.editors.RecargosEditor"
            id="rcp.assets.editors.RecargosEditor"
            name="Recargo">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="rcp.assets.facturacion.toolbar1">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Guardar"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:rcp.assets.views.seguimiento.FacturasView">
         <command
               commandId="generacionExcelFacturas"
               icon="icons/excel_16.png"
               label="Genera informes/facturas en excel"
               style="pulldown">
         </command>
         <command
               commandId="rcp.assets.commands.AnularFacturaHandler"
               icon="icons/borrar.gif"
               label="Anular factura"
               style="push">
         </command>
         <command
               commandId="rcp.assets.commands.ExportarPeachtreeHandler"
               icon="icons/gear_16.png"
               label="Exportar a PeachTree"
               style="push">
         </command>
         <command
               commandId="rcp.assets.commands.ActualizarVista"
               icon="icons/refresh_16.png"
               label="Actualizar"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:rcp.assets.views.seguimiento.ResponsablesSegView">
         <command
               commandId="rcp.assets.commands.ActualizarVista"
               icon="icons/refresh_16.png"
               label="Actualizar"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:generacionExcelFacturas">
         <command
               commandId="rcp.assets.commands.ImprimirFacturaHandler"
               label="Imprimir factura"
               style="pulldown">
         </command>
         <command
               commandId="rcp.assets.commands.FacturasPorFecha"
               label="Informe de facturas (SAP)"
               style="pulldown">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Archivo">
            <command
                  commandId="rcp.assets.commands.ExitHandler"
                  icon="icons/borrar.gif"
                  label="Salir"
                  style="push">
            </command>
         </menu>
         <menu
               label="Acciones">
            <command
                  commandId="rcp.assets.commands.MantenimientosGenericHandler"
                  icon="icons/usuario.gif"
                  label="Crear usuario"
                  style="push">
               <parameter
                     name="rcp.assets.commands.parametroMantenimiento"
                     value="usuario">
               </parameter>
            </command>
            <command
                  commandId="rcp.assets.commands.MantenimientosGenericHandler"
                  icon="icons/keywords.gif"
                  label="Crear keyword"
                  style="push">
               <parameter
                     name="rcp.assets.commands.parametroMantenimiento"
                     value="keyword">
               </parameter>
            </command>
            <separator
                  name="rcp.assets.facturacion.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="rcp.assets.commands.MantenimientosGenericHandler"
                  icon="icons/cliente.gif"
                  label="Crear responsable"
                  style="push">
               <parameter
                     name="rcp.assets.commands.parametroMantenimiento"
                     value="responsable">
               </parameter>
            </command>
            <command
                  commandId="rcp.assets.commands.MantenimientosGenericHandler"
                  icon="icons/clienteDetalle.gif"
                  label="Crear dirección"
                  style="push">
               <parameter
                     name="rcp.assets.commands.parametroMantenimiento"
                     value="direccion">
               </parameter>
            </command>
            <command
                  commandId="rcp.assets.commands.MantenimientosGenericHandler"
                  icon="icons/clienteDetalle.gif"
                  label="Crear atención"
                  style="push">
               <parameter
                     name="rcp.assets.commands.parametroMantenimiento"
                     value="atencion">
               </parameter>
            </command>
            <separator
                  name="rcp.assets.facturacion.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="rcp.assets.commands.MantenimientosGenericHandler"
                  icon="icons/coins_16.png"
                  label="Crear tipo de cargo"
                  style="push">
               <parameter
                     name="rcp.assets.commands.parametroMantenimiento"
                     value="tipo de cargo">
               </parameter>
            </command>
            <command
                  commandId="rcp.assets.commands.MantenimientosGenericHandler"
                  icon="icons/coins_16.png"
                  label="Crear notificación"
                  style="push">
               <parameter
                     name="rcp.assets.commands.parametroMantenimiento"
                     value="notificacion">
               </parameter>
            </command>
            <command
                  commandId="rcp.assets.commands.MantenimientosGenericHandler"
                  icon="icons/coins_16.png"
                  label="Crear recargo"
                  style="push">
               <parameter
                     name="rcp.assets.commands.parametroMantenimiento"
                     value="recargo">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rcp.assets.commands.ExitHandler"
            id="rcp.assets.commands.ExitHandler"
            name="Salir">
      </command>
      <command
            defaultHandler="rcp.assets.commands.MantenimientosGenericHandler"
            id="rcp.assets.commands.MantenimientosGenericHandler"
            name="Crear (mantenimientos)">
         <commandParameter
               id="rcp.assets.commands.parametroMantenimiento"
               name="accion"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="rcp.assets.commands.AgregarGrupoHandler"
            id="rcp.assets.commands.AgregarGrupoHandler"
            name="Agregar grupo">
      </command>
      <command
            defaultHandler="rcp.assets.commands.BorrarGrupoHandler"
            id="rcp.assets.commands.BorrarGrupoHandler"
            name="Borrar grupo">
      </command>
      <command
            defaultHandler="rcp.assets.commands.FacturasPorFecha"
            id="rcp.assets.commands.FacturasPorFecha"
            name="Generar informe de facturas">
      </command>
      <command
            defaultHandler="rcp.assets.commands.ImprimirFacturaHandler"
            id="rcp.assets.commands.ImprimirFacturaHandler"
            name="Imprimir factura">
      </command>
      <command
            defaultHandler="rcp.assets.commands.ActualizarVista"
            id="rcp.assets.commands.ActualizarVista"
            name="Actualizar vista">
      </command>
      <command
            defaultHandler="rcp.assets.commands.AnularFacturaHandler"
            id="rcp.assets.commands.AnularFacturaHandler"
            name="Anular factura">
      </command>
      <command
            defaultHandler="rcp.assets.commands.ExportarPeachTree"
            id="rcp.assets.commands.ExportarPeachtreeHandler"
            name="Exportar a PeachTree">
      </command>
      <command
            defaultHandler="rcp.assets.commands.NoActionHandler"
            id="generacionExcelFacturas"
            name="generacionExcelFacturas">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="rcp.assets.facturacion.splashHandlers.InteractiveSplashHandler"
            id="rcp.assets.facturacion.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="rcp.assets.facturacion.product"
            splashId="rcp.assets.facturacion.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
